@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.collections {
  @apply flex items-center p-2 rounded-lg bg-stone-600 border-2 border-transparent
}

.collections:hover {
  @apply border-2 border-white
}

.collections:active {
  @apply scale-95 transition-transform duration-200;
}

.my-button {
  @apply text-white inline-block bg-stone-600 rounded py-1 px-2 transition-transform duration-100 transform;
}

.my-button:hover {
  @apply opacity-70;
}

.my-button:active {
  @apply scale-90;
}

.my-button:disabled {
  @apply opacity-50 cursor-not-allowed hover:bg-transparent active:scale-100;
}

.left-button {
  @apply text-white inline-block bg-red-500 rounded transition-transform duration-100 transform w-32 h-9;
}

.left-button:hover {
  @apply bg-red-400;
}

.left-button:active {
  @apply scale-90;
}

.left-button:disabled {
  @apply bg-red-300 opacity-90;
}

.right-button {
  @apply text-white inline-block bg-green-500 rounded transition-transform duration-100 transform w-32 h-9;
}

.right-button:hover {
  @apply bg-green-400;
}

.right-button:active {
  @apply scale-90;
}

.right-button:disabled {
  @apply bg-green-300 opacity-90;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}

html, body {
  min-height: 100%;
  width: 100%;
  @apply bg-stone-700;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1f1f1f;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* for left swipe*/
@keyframes swipe-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(-30%) rotate(-10deg);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-175%) rotate(-20deg);
    opacity: 0;
  }
}

/* for right swipe*/
@keyframes swipe-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(30%) rotate(10deg);
    opacity: 0.3;
  }
  100% {
    transform: translateX(175%) rotate(20deg);
    opacity: 0;
  }
}

/* apply animation */
.card-swipe-left {
  animation: swipe-left 0.6s forwards; 
}

.card-swipe-right {
  animation: swipe-right 0.6s forwards; 
}
